@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-primary: #fde68c;
  --color-secondary: #f46da3;
  --color-danger: #fa3f52;

  --color-gray-100: #dae4f2;
  --color-gray-200: #c8d0da;
  --color-gray-300: #95a1b1;
  --color-gray-400: #6f7d90;
  --color-gray-500: #2a313c;
  --color-gray-600: #21252c;
  --color-gray-700: #191d24;
  --color-gray-800: #13161b;
  --color-gray-900: #0f1216;

  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);

  --radius-xl: 0.625rem;
}
body {
  cursor: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #13161b inset !important; /* Cor de fundo*/
  -webkit-text-fill-color: #e2e8f0 !important; /* Cor do texto */
}